<h1>Shoaibi - Task for ZenHR</h1>



<ul>
	<% if user_signed_in? %>
		<li>
			Hello <%= current_user.username %>
		</li>
		<% if current_user && current_user.admin %>
			<li>It's Admin User</li>
		<% end %>
		<li>
			<%= link_to "Sign Out" , destroy_user_session_path,method: :delete %>
		</li>
	<% else %>
		<li>
			<%= link_to "Sign in" , new_user_session_path %>
		</li>
		<li>
			<%= link_to "Sign up" , new_user_registration_path %>
		</li>
	<% end %>
	
	<%= link_to 'Jobs List',posts_path %> | <%= link_to 'Applications List',apps_path %>
</ul>