<%= form_with(model: app, local: true) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Phone %>
    <%= form.text_field :Job %>
  </div>

  <div class="field" style="display: none">
    <%= form.label :Seen %>
    <%= form.check_box :Seen %>
  </div>

  <div class="field" style="display: none">
    <%= form.label :post_id %>
    <%= form.text_field :post_id ,:value => params[:post_id] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
