<h1>Job Applications</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Seen</th>
      <th>Phone Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= app.post.getTitle %></td>
        <td><%= app.Seen %></td>
        <td><%= app.Job %></td>
        <td><%= link_to 'Show', app %></td>
        <% if current_user && current_user.admin %>
          <td><%= link_to 'Edit', edit_app_path(app) %></td>
          <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>