<p>
  <strong>Job:</strong>
  <%= @app.post.getTitle %>
</p>
<p>
  <strong>Mobile Number:</strong>
  <%= @app.Job %>
</p>

<p>
  <strong>Seen:</strong>
  <%= @app.Seen %>
</p>


<%= link_to 'Back', apps_path %>
